<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a> | <a href="/blog/">Blog</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>© 2025 jamesbrownv.com</footer>
  </body>
</html>